<div class="row">
  <div class="col-sm-1">
    {{ teilnahme.talDTOList[0].startnummer }}
  </div>
  <div class="col-sm-2">{{ teilnahme.teilnehmer.name }}</div>
  <div class="col-sm-2">{{ teilnahme.teilnehmer.vorname }}</div>
  <div class="col-sm-1">{{ teilnahme.teilnehmer.jahrgang }}</div>
  <div *ngIf="anlass.abteilungFix" class="col-sm-1">
    {{ abteilung }}
  </div>
  <div *ngIf="!anlass.abteilungFix" class="col-sm-1"></div>
  <div *ngIf="anlass.anlageFix" class="col-sm-1">
    {{ anlage }}
  </div>
  <div *ngIf="!anlass.anlageFix" class="col-sm-1"></div>
  <div *ngIf="anlass.startgeraetFix" class="col-sm-2">
    {{ teilnahme.talDTOList[0].startgeraet }}
  </div>
  <div *ngIf="!anlass.startgeraetFix" class="col-sm-2"></div>
  <div class="col-sm-2">
    {{ teilnahme.talDTOList[0].meldeStatus }}
  </div>
</div>
