<ng-container *ngIf="wertungsrichter !== undefined; else loading">
  <div
    class="container chip drag-drop-box"
    cdkDrag
    #tooltip="matTooltip"
    matTooltip="Ziehe (Drag & Drop) den Wertungsrichter rüber"
    matTooltipPosition="above"
    matTooltipHideDelay="100"
  >
    <div class="row">
      <div class="col-10">
        <span
          [ngClass]="{
            'h2-green': wertungsrichter.gueltig,
            'h2-red': !wertungsrichter.gueltig
          }"
          >{{
            wertungsrichterUser.vorname + " " + wertungsrichterUser.name
          }}</span
        >
      </div>
      <div class="col-2">Brevet {{ wertungsrichter.brevet }}</div>
    </div>
    <div class="row">
      <div class="col">
        <mat-checkbox
          [ngClass]="{
            'label-green': wertungsrichter.gueltig,
            'label-red': !wertungsrichter.gueltig
          }"
          [(ngModel)]="wertungsrichter.gueltig"
          [disabled]="true"
          >Wertungsrichter hat FK</mat-checkbox
        >
      </div>
    </div>
    <div
      class="row"
      *ngIf="!isAllWertungsrichterList && wertungsrichterUser.pal"
    >
      <div class="col">Einsätze</div>
    </div>
    <div class="row" *ngIf="!isAllWertungsrichterList">
      <div class="col doubleRow">
        <app-wertungsrichter-slot
          *ngFor="let slot of getSlotsForBrevet()"
          [slot]="slot"
          [wrAnlassLink]="wrAnlassLink"
          [wertungsrichter]="wertungsrichterUser"
          [einsatz]="getEinsatzForSlot(slot)"
          [anlass]="anlass"
          (wrEinsatzChange)="wrEinsatzChange($event)"
        >
        </app-wertungsrichter-slot>
        <mat-form-field
          *ngIf="wertungsrichterUser.pal"
          class="full-width"
          appearance="fill"
        >
          <mat-label>Kommentar</mat-label>
          <input
            matInput
            placeholder="Kommentar"
            [(ngModel)]="wertungsrichterUser.pal.kommentar"
            (change)="kommentarChange($event)"
          />
          <button
            *ngIf="wertungsrichterUser.pal.kommentar"
            matSuffix
            mat-icon-button
            aria-label="leeren"
            (click)="wertungsrichterUser.pal.kommentar = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="center">
    <mat-spinner style="margin: 0 auto"></mat-spinner>
  </div>
</ng-template>
