.label {
  color: rgba(0, 0, 0, 0.54);
}
.label-green {
  color: rgba(57, 124, 57, 0.68);
}
.label-red {
  color: rgba(168, 37, 37, 0.78);
}

.chip {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 7px 12px;
  border-radius: 16px;
  align-items: center;
  cursor: default;
  min-height: 32px;
  background-color: #e0e0e0;
  color: rgba(0, 0, 0, 0.87);
}
