.thumbnail {
  min-height: 210px;
  padding: 10px;
  margin: 5px;
}

.pad-left {
  margin-left: 10px;
}

.green {
  color: #01d801 !important;
}

.red {
  color: #d31010 !important;
}

.greenNoMargin {
  color: #01d801 !important;
  margin-left: 0px;
}

.redNoMargin {
  color: #d31010 !important;
  margin-left: 0px;
}

.bold {
  font-weight: bold;
}

.cyan {
  background-color: #488dd6;
}
