<div [routerLink]="['/anlass/', anlass?.id]" class="well hoverwell thumbnail">
  <div class="row">
    <div class="col-sm">
      <h2>{{ getCleaned() }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm" [ngClass]="getStartTimeClass()">
      <span *ngIf="anlass.startDatum !== anlass.endDatum">am</span>
      <span *ngIf="anlass.startDatum === anlass.endDatum">von</span>:
      {{ anlass.startDatum | date: "EEEE, d MMMM , y" }}
    </div>
    <div class="col-sm" *ngIf="anlass.startDatum === anlass.endDatum">
      bis: {{ anlass.endDatum | date: "EEEE, d MMMM , y" }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm">Geschlecht: {{ anlass.tiTu }}</div>
    <div class="col-sm">
      Startberechtigt: {{ anlass.tiefsteKategorie }} bis
      {{ anlass.hoechsteKategorie }}
    </div>
  </div>
  <div class="row" [ngClass]="getStartedClass()">
    <mat-checkbox
      [(ngModel)]="vereinStarted"
      (click)="vereinStartedClicked($event)"
      >Verein started</mat-checkbox
    >
  </div>
  <div *ngIf="vereinStarted" class="row">
    <div class="col-sm" [ngClass]="getTeilnehmerClass()">
      Teilnehmer: {{ anzahlTeilnehmer }}
    </div>
    <div class="col-sm" [ngClass]="getWertungsrichterClass()">
      Wertungsrichter: {{ statusWertungsrichter }}
    </div>
  </div>
</div>
