<!-- well hoverwell    [routerLink]="['/anlass/', anlass?.id]"
 -->
<div
  hover
  [status]="anlass.anzeigeStatus"
  class="thumbnail"
  (click)="isEnabled() ? handleClickMe($event) : $event.stopPropagation()"
>
  <div class="row">
    <div class="col-sm-7">
      <h2>{{ anlass.getCleaned() }}</h2>
    </div>
    <div class="col-sm-1">
      <h2>{{ anlass.tiTu }}</h2>
    </div>
    <div class="col-sm-1">
      <img
        *ngIf="vereinStarted"
        class="icon"
        src="assets/images/skype/beaming-face.png"
      />
      <img
        *ngIf="!vereinStarted"
        class="icon"
        src="assets/images/skype/slightly-frowning-face.png"
      />
    </div>
    <div *ngIf="vereinStarted" class="col-sm-3 verticalAlign">
      Dein Verein startet
    </div>
    <div *ngIf="!vereinStarted" class="col-sm-3 verticalAlign">
      Dein Verein startet nicht
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <span *ngIf="anlass.startDatum === anlass.endDatum">am</span>
      <span *ngIf="anlass.startDatum !== anlass.endDatum">von</span>:
      {{ anlass.startDatum | date: "EEE, d MMMM , y":"GMT+1":"DE-CH" }}
    </div>
    <div class="col-sm-4" *ngIf="anlass.startDatum !== anlass.endDatum">
      bis: {{ anlass.endDatum | date: "EEE, d MMMM , y":"GMT+1":"DE-CH" }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      Geschlecht: <span style="font-weight: 550"> {{ anlass.tiTu }}</span>
    </div>
    <div class="col-sm-4">
      Startberechtigt: {{ anlass.tiefsteKategorie }} bis
      {{ anlass.hoechsteKategorie }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">Ort: {{ anlass.ort }}</div>
    <div class="col-sm-4">Halle: {{ anlass.halle }}</div>
    <div class="col-sm-4">Organisator: {{ anlass.organisator }}</div>
  </div>

  <div *ngIf="vereinStarted" class="row">
    <div class="col-sm-8">
      <span class="verticalAlign margin-left"
        >Teilnehmer: {{ anzahlTeilnehmer }}</span
      >
    </div>
    <div class="col-sm-1">
      <img
        *ngIf="hasTeilnehmer"
        class="icon"
        src="assets/images/skype/beaming-face.png"
      />
      <img
        *ngIf="!hasTeilnehmer"
        class="icon"
        src="assets/images/skype/slightly-frowning-face.png"
      />
    </div>
    <div *ngIf="hasTeilnehmer" class="col-sm-3 verticalAlign">
      Teilnehmer gemeldet
    </div>
    <div *ngIf="!hasTeilnehmer" class="col-sm-3 verticalAlign">
      kein Teilnehmer gemeldet
    </div>
  </div>
  <div *ngIf="vereinStarted" class="row">
    <div class="col-sm-8">
      <span class="verticalAlign margin-left"
        >Wertungsrichter: {{ statusWertungsrichter }}</span
      >
    </div>
    <div class="col-sm-1">
      <img
        *ngIf="isWertungsrichterOk"
        class="icon"
        src="assets/images/skype/beaming-face.png"
      />
      <img
        *ngIf="!isWertungsrichterOk"
        class="icon"
        src="assets/images/skype/pouting-face.png"
      />
    </div>
    <div *ngIf="isWertungsrichterOk" class="col-sm-3 verticalAlign">
      WR Kontingent erfüllt
    </div>
    <div *ngIf="!isWertungsrichterOk" class="col-sm-3 verticalAlign">
      WR Kontingent nicht erfüllt
    </div>
  </div>
  <div class="correct-margin">
    <app-events-dates [anlass]="anlass" [viewOnly]="true"></app-events-dates>
  </div>
</div>
