<!-- well hoverwell    [routerLink]="['/anlass/', anlass?.id]"
 -->
@if (anlassData?.summary) {
  <div
    hover
    [status]="anlassData.anlass.anzeigeStatus"
    class="thumbnail"
    (click)="isEnabled() ? handleClickMe() : $event.stopPropagation()"
  >
    <div class="layout-row">
      <div class="layout-col-sm-7 double-hight">
        <h2>{{ anlassData.anlass.getCleaned() }}</h2>
      </div>
      <div class="layout-col-sm-1">
        <h2>{{ anlassData.anlass.tiTu }}</h2>
      </div>
      <div class="layout-col-sm-1">
        @if (anlassData.summary.startet) {
          <img class="icon" src="assets/images/skype/beaming-face.png" />
        } @else {
          <img class="icon" src="assets/images/skype/slightly-frowning-face.png" />
        }
      </div>
      @if (anlassData.summary.startet) {
        <div class="layout-col-sm-3 verticalAlign">Dein Verein startet</div>
      } @else {
        <div class="layout-col-sm-3 verticalAlign">Dein Verein startet nicht</div>
      }
    </div>

    <div class="layout-row">
      <div class="layout-col-sm-4">
        @if (anlassData.anlass.startDatum === anlassData.anlass.endDatum) {
          <span>am</span>
        } @else {
          <span>von</span>
        }
        :
        {{ anlassData.anlass.startDatum | date: 'EEE, d MMMM , y' : 'GMT+1' : 'DE-CH' }}
      </div>
      @if (anlassData.anlass.startDatum !== anlassData.anlass.endDatum) {
        <div class="layout-col-sm-4">
          bis:
          {{ anlassData.anlass.endDatum | date: 'EEE, d MMMM , y' : 'GMT+1' : 'DE-CH' }}
        </div>
      }
    </div>
    <div class="layout-row">
      <div class="layout-col-sm-4">
        Geschlecht:
        <span style="font-weight: 550"> {{ anlassData.anlass.tiTu }}</span>
      </div>
      <div class="layout-col-sm-4">
        Startberechtigt: {{ anlassData.anlass.tiefsteKategorie }} bis
        {{ anlassData.anlass.hoechsteKategorie }}
      </div>
    </div>
    <div class="layout-row">
      <div class="layout-col-sm-4">Ort: {{ anlassData.anlass.ort }}</div>
      <div class="layout-col-sm-4">Halle: {{ anlassData.anlass.halle }}</div>
      <div class="layout-col-sm-4">Organisator: {{ organisator?.name }}</div>
    </div>

    @if (anlassData.summary.startet) {
      <div class="layout-row">
        <div class="layout-col-sm-8">
          <span class="verticalAlign margin-left"
            >Teilnehmer: {{ anlassData.summary.startendeBr1 + anlassData.summary.startendeBr2 }}</span
          >
        </div>
        <div class="layout-col-sm-1">
          @if (hasTeilnehmer) {
            <img class="icon" src="assets/images/skype/beaming-face.png" />
          } @else {
            <img class="icon" src="assets/images/skype/slightly-frowning-face.png" />
          }
        </div>
        @if (hasTeilnehmer) {
          <div class="layout-col-sm-3 verticalAlign">Teilnehmer gemeldet</div>
        } @else {
          <div class="layout-col-sm-3 verticalAlign">kein Teilnehmer gemeldet</div>
        }
      </div>
      <div class="layout-row">
        <div class="layout-col-sm-8">
          <span class="verticalAlign margin-left">Wertungsrichter: {{ anlassData.summary.gemeldeteBr1 }}</span>
        </div>
        <div class="layout-col-sm-1">
          @if (isWertungsrichterOk) {
            <img class="icon" src="assets/images/skype/beaming-face.png" />
          } @else {
            <img class="icon" src="assets/images/skype/pouting-face.png" />
          }
        </div>
        @if (isWertungsrichterOk) {
          <div class="layout-col-sm-3 verticalAlign">WR Kontingent erfüllt</div>
        } @else {
          <div class="layout-col-sm-3 verticalAlign">WR Kontingent nicht erfüllt</div>
        }
      </div>
    }

    <div class="correct-margin">
      <lxt-events-dates
        [anlass]="anlassData.anlass"
        [anlassSummary]="anlassData.summary"
        [viewOnly]="true"
      ></lxt-events-dates>
    </div>
  </div>
}
