.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}

.label {
  margin-top: 15px;
  color: rgba(0,0,0,.54);
}
.label-green {
  color: rgba(57, 124, 57, 0.68);
}
.label-red {
  color: rgba(168, 37, 37, 0.78);
}
