**/logs
*.log
*.bak
**/target
**/node
**/node_modules
**/dist
**/tmp
**/out-tsc
**/DevProfile
# IDEs and editors
**/.idea
.project
.classpath
**/.vscode
*.iml
.c9/
*.launch
.settings/
*.sublime-workspace


