server:
  port: 8080
  servlet:
    context-path: /
spring:
  flyway:
    locations: ["classpath:/db/migration"]
    clean-on-validation-error: false
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
     database-platform: org.hibernate.dialect.PostgreSQLDialect
     show-sql: "false"
     properties:
        hibernate:
           jdbc:
              # time_zone: "Europe/Zurich"
              time_zone: "GMT+1"
              
     
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jackson:
     deserialization:
        adjust-dates-to-context-time-zone: true
     # time-zone: "Europe/Zurich"
     time-zone: "UTC"
  mail:
     enabled: "false"
     username:  ${MAIL_USER}
     password: ${MAIL_PASSWORD}
     templates:
        path: "mail-templates"
     simulate:  "true"
     simulateemail: "heinz.laetsch@gmx.ch"
     
# this info may be accessed via actuator
info:
  app:
    name: Anmeldetool
    version: "@version@"
    buildtime: "@timestamp@"

logging:
  level:
    org.springframework.cloud: INFO
    org.springframework.security: INFO
    org.flywaydb: INFO
    org.springframework.web.cors: INFO
    org.hibernate.SQL: INFO
    org.hibernate.type: WARN
    org.ztv.anmeldetool: INFO
# Sec Min Hours Day_of_Month Month Day_of_week Year    
scheduler:
   reminder:
      cron: "20 * * * * *"
      daysbefore: 3
   closed:
      cron: "0/10 1 * * 12 *"
      daysafter: 1
   mutationen:
      cron: "0/10 1 * * 12 *"
      daysbefore: 3
   published:
      cron: "0/10 1 * * 12 *" 
      
management:
  endpoints:
    web:
      cors:
        path-mappings: /**
        allowed-origins: ${CORS_ALLOWED_ORIGINS}
        allowed-methods: GET, POST, PUT
        allowed-headers: "*"
  server:
      base-path: /admin
  endpoint:
    beans:
      enabled: true
    health:
      enabled: true
    info:
      enabled: true
