<div class="row">
  <div class="col-base col-1 right">Rang</div>
  <div class="col-base col-3">Name</div>
  <div class="col-base col-3">Vorname</div>
  <div class="col-base col-3">Verein</div>
  <div class="col-base col-1">Jahrgang</div>
  <div class="col-base col-1">Reck</div>
  <div class="col-base col-1">Boden</div>
  <div class="col-base col-1">Ring</div>
  <div class="col-base col-1">Sprung 1</div>
  <div class="col-base col-1">Sprung 2</div>
  <div class="col-base col-1">Zählbar</div>
  <div class="col-base col-1">Barren</div>
  <div class="col-base col-1">Total</div>
  <div class="col-base col-1 right">Rang</div>
  <div class="col-base col-2">Auszeichnung</div>
</div>
