<div class="container-fluid" *ngIf="anlass$ | async; else loading">
  <div class="row">
    <div class="col-sm-4"></div>
    <!-- könnte auch in Tab Header geschrieben werden -->
    <div class="col-sm-1">
      <h2>Erfasst</h2>
    </div>
    <div *ngIf="lauflistenStatus !== undefined" class="col-sm-1">
      <img
        *ngIf="!lauflistenStatus.allErfasst"
        class="icon"
        src="assets/images/skype/white-question-mark.png"
      />
      <img
        *ngIf="lauflistenStatus.allErfasst"
        class="icon"
        src="assets/images/skype/check-mark.png"
      />
    </div>
    <div class="col-sm-1">
      <h2>Checked</h2>
    </div>
    <div *ngIf="lauflistenStatus !== undefined" class="col-sm-1">
      <img
        *ngIf="!lauflistenStatus.allChecked"
        class="icon"
        src="assets/images/skype/white-question-mark.png"
      />
      <img
        *ngIf="lauflistenStatus.allChecked"
        class="icon"
        src="assets/images/skype/check-mark.png"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
      <mat-form-field appearance="fill">
        <mat-label>Kategorie</mat-label>
        <mat-select
          (selectionChange)="kategorieSelected($event)"
          [value]="kategorie"
        >
          <mat-option
            *ngFor="let kategorie of getKategorienRaw(anlass)"
            [value]="kategorie"
            >{{ kategorie }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-1">
      <mat-form-field appearance="fill">
        <mat-label>Geschlecht</mat-label>
        <mat-select
          (selectionChange)="tiTuSelected($event)"
          [disabled]="!isAlle()"
          [value]="tiTu"
        >
          <mat-option value="Ti">Ti</mat-option>
          <mat-option value="Tu">Tu</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-slider
        title="{{ label }}"
        min="0"
        [max]="anzahl"
        [(ngModel)]="maxAuszeichnungen"
        thumbLabel
        tickInterval="1"
        (change)="sliderChanged($event)"
      ></mat-slider>
    </div>
    <div class="col-sm-1">
      <button
        mat-button
        type="button"
        color="primary"
        aria-label="Rangliste als PDF"
        (click)="getRanglistePdf()"
        [disabled]="!filterOk"
        tabindex="-1"
      >
        PDF generieren
      </button>
    </div>
    <div class="col-sm-1">
      <button
        mat-button
        type="button"
        color="primary"
        aria-label="Rangliste als CSV"
        (click)="getRanglisteCsv()"
        [disabled]="!filterOk"
        tabindex="-1"
      >
        CSV generieren
      </button>
    </div>
    <div class="col-sm-1">
      <button
        mat-button
        type="button"
        color="primary"
        aria-label="Rangliste als PDF per Verein"
        (click)="getRanglistePdfPerVerein()"
        [disabled]="!filterOk"
        tabindex="-1"
      >
        Vereins Rangliste
      </button>
    </div>
    <div class="col-sm-1">
      <button
        mat-button
        type="button"
        color="primary"
        aria-label="Teamwertung"
        (click)="getTeamwertung()"
        [disabled]="!filterOk"
        tabindex="-1"
      >
        Teamwertung
      </button>
    </div>
  </div>
  <app-ranglisten-header [tiTu]="tiTu"></app-ranglisten-header>
  <app-ranglisten-entry
    [anlass]="anlass"
    [entry]="entry"
    [highlighted]="highlighted"
    [index]="i"
    [tiTu]="tiTu"
    *ngFor="let entry of ranglistenEntries; index as i"
  ></app-ranglisten-entry>
</div>

<ng-template #loading>Loading...</ng-template>
