<ng-container *ngIf="loaded$ | async as obs; else loading">
  <mat-expansion-panel
    *ngIf="teilnahmeStatistic.totalStartende > 0"
    [expanded]="expanded"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> {{ anlage }} </mat-panel-title>
      <mat-panel-description>
        Startende
        <span class="zahl">{{ teilnahmeStatistic.totalStartende }}</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-einteilung-startgeraet
        *ngFor="let startgeraet of startgeraete"
        [anlass]="anlass"
        [kategorie]="kategorie"
        [abteilung]="abteilung"
        [anlage]="anlage"
        [startgeraet]="startgeraet"
        [refreshEmitter]="refreshEmitter"
        [search]="search"
        [expanded]="startgeraete?.length === 1"
      ></app-einteilung-startgeraet>
    </ng-template>
  </mat-expansion-panel>
</ng-container>

<ng-template #loading>Loading...</ng-template>
