/* You can add global styles to this file, and also import other style files */
:root {
  --ztv-blue: #488dd6;
  --ztv-light-blue: rgba(72,141,214, 0.5);
  --ztv-lighter-blue: rgba(72, 141, 214, 0.25);
  --ztv-white: #ffff;
  --ztv-black: rgba(0, 0, 0, 0.78);
  --ztv-lighter-gray: rgba(220, 220, 220, 0.98);
  --ztv-light-gray: rgb(184, 184, 184);
  --ztv-gray: rgb(131, 128, 128);
  --ztv-light-red: rgba(253, 177, 177, 0.78);
  --ztv-error: rgba(235, 25, 25, 0.78);
  --ztv-warning: #f89406;
  --ztv-light-green: rgba(202, 241, 202, 0.8);
  --ztv-ok: rgba(5, 151, 5, 0.8);
  --ztv-erfassen-geschlossen: rgba(255, 160, 160, 0.78);
  --ztv-cross-kategorie-geschlossen: rgba(255, 128, 128, 0.78);
  --ztv-in-kategorie-geschlossen: rgba(240, 100, 100, 0.78);
  --ztv-mutationen-geschlossen: rgba(220, 220, 220, 0.21);
}
/* https://emojipedia.org/samsung/one-ui-4.0/  https://emojipedia.org/skype/ */
.well {
  background-color: var(--ztv-blue);
  color: var(--ztv-white);
  cursor: pointer;
}

.hoverwell:hover {
  background-color: var(--ztv-white);
  border: 1px solid var(--ztv-blue);
  color: var(--ztv-blue);
  cursor: pointer;
}
.verticalAlign {
  position: relative;
  bottom: -9px;
  padding-left: 3px;
}
.spanBottom {
  bottom: -5px;
}
.status-OK {
  background-color: var(--ztv-blue);
  color: var(--ztv-white);
  cursor: pointer;
}
.status-OK-AKTIV {
  background-color: var(--ztv-white);
  border: 1px solid #022447;
  color: #aef726;
  cursor: pointer;
}

.label {
  color: var(--ztv-black);
}

.label-green {
  color: var(--ztv-ok) !important;
}

.label-red {
  color: var(--ztv-error) !important;
}
.h2-green {
  font-size: 1rem;
  font-weight: 800;
  color: var(--ztv-ok) !important;
}

.h2-red {
  font-size: 1rem;
  font-weight: 800;
  color: var(--ztv-error) !important;
}
.doubleRow {
  margin-left: 0px;
  margin-right: 0px;
}
.icon {
  max-width: 25px;
  max-height: 25px;
  margin: 3px 3px 3px 3px;
}
.mediumIcon {
  max-width: 20px;
  max-height: 20px;
  margin: 2px 2px 2px 2px;
}
.mediumNoMarginIcon {
  max-width: 20px;
  max-height: 20px;
}
.smallIcon {
  max-width: 15px;
  max-height: 15px;
  margin: 1px 1px 1px 1px;
}
.container {
  padding-top: 5px;
}

.pointable {
  cursor: pointer;
}

button {
  color: #555;
}

[hidden] {
  display: none !important;
}

.toast-success {
  background-color: #51a351;
}
.toast-error {
  background-color: #bd362f;
}
.toast-info {
  background-color: #2f96b4;
}
.toast-warning {
  background-color: var(--ztv-warning);
}
html,
body {
  height: 100%;
}
body,
.mat-body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 0.8rem !important;
  font-weight: 300 !important;
}
.small {
  font-size: 0.7rem;
  font-weight: 300;
}
.zahl {
  text-align: right;
  width: 40px;
}
