mat-form-field {
  min-width: 400px;
  max-width: 400px;
  width: 400px;
}
.label {
  color: var(--ztv-lighter-gray);
  font-weight: 400;
  font-size: 2em;
  padding-top: 0.3em;
}
.data {
  color: var(--ztv-white);
  font-weight: 500;
  font-size: 2em;
  padding-top: 0.3em;
  margin-bottom: 1em;
}
