<mat-accordion>
  <!-- hideToggle -->
  <mat-expansion-panel *ngFor="let kategorie of getKategorien()">
    <mat-expansion-panel-header>
      <mat-panel-title> {{ kategorie }} </mat-panel-title>
      <mat-panel-description> Kategorie {{ kategorie }} </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-expansion-panel *ngFor="let abteilung of getAbteilungen(kategorie)">
      <mat-expansion-panel-header>
        <mat-panel-title> {{ abteilung }} </mat-panel-title>
        <mat-panel-description>
          Abteilung {{ abteilung }}
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-expansion-panel>
</mat-accordion>
