<div class="layout-row">
  <div class="layout-col-sm">
    <h3>{{ titel() }}</h3>
  </div>
</div>

<div class="layout-row">
  <div class="layout-col-sm-1 total">Startnr.</div>
  <div class="layout-col-sm-2 total">Name</div>
  <div class="layout-col-sm-2 total">Vorname</div>
  <div class="layout-col-sm-1 total">Jahrgang</div>
  <div class="layout-col-sm-1 total">Abteilung</div>
  <div class="layout-col-sm-1 total">Anlage</div>
  <div class="layout-col-sm-2 total">Startgerät</div>
  <div class="layout-col-sm-2 total">Status</div>
</div>
