<ng-container>
  <h1 class="label">Rollen</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h2>verfügbare Rollen</h2>
      </div>
      <div class="col">
        <h2>zugewiesene Rollen</h2>
      </div>
    </div>
    <div class="row">
      <div
        cdkDropList
        #allRolesList="cdkDropList"
        [cdkDropListData]="allRoles"
        [cdkDropListConnectedTo]="[assignedRolesList]"
        class="drag-drop-list col"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="drag-drop-box"
          *ngFor="let role of allRoles"
          cdkDrag
          [cdkDragDisabled]="disableRole(role)"
        >
          <app-role-chip [role]="role" [isAllRolesList]="true"></app-role-chip>
        </div>
      </div>
      <div
        cdkDropList
        #assignedRolesList="cdkDropList"
        [cdkDropListData]="assignedRoles"
        [cdkDropListConnectedTo]="[allRolesList]"
        class="drag-drop-list col"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="drag-drop-box"
          *ngFor="let role of assignedRoles"
          cdkDrag
          [cdkDragDisabled]="disableRole(role)"
        >
          <app-role-chip
            [role]="role"
            [isAllRolesList]="false"
            [isVereinsVerantwortlicher]="isVereinsAnmelder"
            [isVereinsAnmelder]="isVereinsAnmelder"
            (roleChange)="aktivChange($event)"
          ></app-role-chip>
        </div>
      </div>
    </div>
  </div>
</ng-container>
