<div class="layout-row">
  <div class="layout-col-sm-1">
    {{ teilnahme().talDTOList[0].startnummer }}
  </div>
  <div class="layout-col-sm-2">{{ teilnahme().teilnehmer.name }}</div>
  <div class="layout-col-sm-2">{{ teilnahme().teilnehmer.vorname }}</div>
  <div class="layout-col-sm-1">{{ teilnahme().teilnehmer.jahrgang }}</div>
  @if (anlass().abteilungFix) {
    <div class="layout-col-sm-1">
      {{ abteilung }}
    </div>
  }
  @if (!anlass().abteilungFix) {
    <div class="layout-col-sm-1"></div>
  }
  @if (anlass().anlageFix) {
    <div class="layout-col-sm-1">
      {{ anlage }}
    </div>
  }
  @if (!anlass().anlageFix) {
    <div class="layout-col-sm-1"></div>
  }
  @if (anlass().startgeraetFix) {
    <div class="layout-col-sm-2">
      {{ teilnahme().talDTOList[0].startgeraet }}
    </div>
  }
  @if (!anlass().startgeraetFix) {
    <div class="layout-col-sm-2"></div>
  }
  <div class="layout-col-sm-2">
    {{ teilnahme().talDTOList[0].meldeStatus }}
  </div>
</div>
