<ng-template #loading>
  <div class="center">
    <mat-spinner style="margin: 0 auto"></mat-spinner>
  </div>
</ng-template>

<div class="container">
  <h1>Login</h1>
  <hr />

  <mat-dialog-content *ngIf="vereinService.isVereineLoaded() | async; else loading">
    <p>
      <mat-form-field [appearance]="appearance">
        <mat-label>Verein</mat-label>
        <mat-select [formControl]="vwVereinControl">
          <mat-option value=""></mat-option>
          <mat-option *ngFor="let verein of vereine" [value]="verein">
            {{ verein.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="vwUserNameControl.hasError('required')">
          Pflichtfeld
        </mat-error>
        <mat-hint>Wähle deinen Verein aus</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field [appearance]="appearance">
        <mat-label>Benutzername</mat-label>
        <input
          matInput
          placeholder="Benutzername"
          [formControl]="vwUserNameControl"
        />
        <mat-error *ngIf="vwUserNameControl.hasError('required')">
          Pflichtfeld
        </mat-error>
        <mat-hint>Gib den Benutzernamen(eMail) ein</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field [appearance]="appearance">
        <mat-label>Passwort</mat-label>
        <input
          matInput
          type="password"
          placeholder="Passwort"
          [formControl]="vwPasswordControl"
        />
        <mat-error *ngIf="vwPasswordControl.hasError('required')">
          Pflichtfeld
        </mat-error>
        <mat-hint>Gib das Passwort ein</mat-hint>
      </mat-form-field>
    </p>
  </mat-dialog-content>
  <!--mat-dialog-actions-->
  <div>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button
      [disabled]="
        vwVereinControl.hasError('required') ||
        vwUserNameControl.hasError('required') ||
        vwPasswordControl.hasError('required')
      "
      mat-button
      (click)="login()"
    >
      Login
    </button>
    <mat-error *ngIf="loginError" class="error">
    Benutzername oder Passwort falsch</mat-error>
    <!--button mat-button mat-dialog-close>Abbrechen</button-->
  </div>
  <div>
    <button mat-button (click)="newVereinClicked()">
      Neues Vereinslogin beantragen
    </button>
  </div>
  <div>
    <button mat-button [mat-dialog-close]="true" (click)="newAnmelderClicked()">
      Neuen Vereinsanmelder beantragen
    </button>
  </div>
  <!--/mat-dialog-actions-->
</div>
