<div class="col-12">
  <mat-tab-group #tabs mat-align-tabs="start">
    <mat-tab>
      <ng-template mat-tab-label>Erfassen </ng-template>
      <app-erfassen [anlass]="anlass" [modeErfassen]="true"></app-erfassen>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>Überprüfen </ng-template>
      <app-erfassen [anlass]="anlass" [modeErfassen]="false"></app-erfassen>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>Ranglisten </ng-template>
      <app-ranglisten></app-ranglisten>
    </mat-tab>
  </mat-tab-group>
  <div class="anlass-title">
    <h2>{{ anlass.getWithDatum() }}</h2>
  </div>
</div>
