<!-- @if (anlassSummary$ | async) {-->
<div>
  <div>
    <div class="layout-row">
      <h3 class="padding">Wertungsrichter</h3>
    </div>
    <div class="layout-row">
      <div class="layout-col-12">
        <mat-tab-group #tabs mat-align-tabs="start">
          <mat-tab [disabled]="!isBrevet1Anlass()">
            <ng-template mat-tab-label
              >Brevet 1
              @if (isWertungsrichter1Ok()) {
                <img class="icon" src="assets/images/skype/beaming-face.png" />
              }
              @if (!isWertungsrichter1Ok()) {
                <img class="icon" src="assets/images/skype/pouting-face.png" />
              }
            </ng-template>
            <div class="layout-row doubleRow">
              <div class="layout-col">Status Brevet 1: {{ statusBr1() }}</div>
            </div>
            <div class="layout-row doubleRow">
              @if (isBrevet1Anlass() && !isBrevet2Anlass()) {
                <div class="layout-col-4 label-red">
                  <mat-checkbox [ngModel]="useBrevet2()" (ngModelChange)="useBrevet2Clicked($event)"
                    >Brevet 2 als Brevet 1 einsetzen</mat-checkbox
                  >
                </div>
              }
              <div class="layout-col">
                Benötigte Wertungsrichter Brevet 1:
                {{ wertungsrichterPflichtBrevet1() }}
              </div>
            </div>
            <div class="layout-row doubleRow">
              <div class="layout-col">
                <h3>Verfügbare Wertungsrichter Brevet 1</h3>
              </div>
              <div class="layout-col">
                <h3>Ausgewählte Wertungsrichter Brevet 1</h3>
              </div>
            </div>
            <div class="layout-row doubleRow">
              <div class="layout-col">
                <div
                  cdkDropList
                  #allWr1sList="cdkDropList"
                  aria-label="Wertungsrichter"
                  class="drag-drop-list layout-col"
                  [cdkDropListDisabled]="!anlassSummary()?.startet || !isBrevet1Anlass()"
                  [cdkDropListData]="availableWertungsrichter1()"
                  [cdkDropListConnectedTo]="[assignedWr1List]"
                  cdkDropListOrientation="vertical"
                  (cdkDropListDropped)="drop($event, '1')"
                >
                  @for (wr of availableWertungsrichter1(); track wr.id ?? wr.benutzername) {
                    <lxt-wertungsrichter-chip
                      [isAllWertungsrichterList]="true"
                      [wertungsrichterUser]="wr"
                      [anlass]="anlass()"
                      [useBrevet2]="false"
                      [changeAllowed]="changeAllowed()"
                    ></lxt-wertungsrichter-chip>
                  }
                </div>
              </div>
              <div class="layout-col">
                <div
                  cdkDropList
                  #assignedWr1List="cdkDropList"
                  class="drag-drop-list layout-col"
                  [cdkDropListDisabled]="!anlassSummary()?.startet || !isBrevet1Anlass()"
                  [cdkDropListData]="assignedWr1s()"
                  [cdkDropListConnectedTo]="[allWr1sList]"
                  (cdkDropListDropped)="drop($event, '2')"
                >
                  @for (wr of assignedWr1s(); track wr.id ?? wr.benutzername) {
                    <lxt-wertungsrichter-chip
                      [isAllWertungsrichterList]="false"
                      [wertungsrichterUser]="wr"
                      [anlass]="anlass()"
                      [useBrevet2]="useBrevet2()"
                      [changeAllowed]="changeAllowed()"
                      (wertungsrichterUserChange)="wertungsrichterUserChange()"
                    ></lxt-wertungsrichter-chip>
                  }
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab [disabled]="!isBrevet2Anlass()">
            <ng-template mat-tab-label
              >Brevet 2
              @if (isWertungsrichter2Ok()) {
                <img class="icon" src="assets/images/skype/beaming-face.png" />
              }
              @if (!isWertungsrichter2Ok()) {
                <img class="icon" src="assets/images/skype/pouting-face.png" />
              }
            </ng-template>
            <div class="layout-row doubleRow">
              <div class="layout-col">Status Brevet 2: {{ statusBr2() }}</div>
            </div>
            <div class="layout-row doubleRow">
              <div class="layout-col">
                Benötigte Wertungsrichter Brevet 2:
                {{ wertungsrichterPflichtBrevet2() }}
              </div>
            </div>
            <div class="layout-row doubleRow">
              <div class="layout-col">
                <h3>Verfügbare Wertungsrichter Brevet 2</h3>
              </div>
              <div class="layout-col">
                <h3>Ausgewählte Wertungsrichter Brevet 2</h3>
              </div>
            </div>
            <div class="layout-row doubleRow scrollable">
              <div class="layout-col">
                <div
                  cdkDropList
                  #allWr2sList="cdkDropList"
                  aria-label="Wertungsrichter"
                  class="drag-drop-list layout-col"
                  [cdkDropListData]="availableWertungsrichter2()"
                  [cdkDropListConnectedTo]="[assignedWr2List]"
                  cdkDropListOrientation="vertical"
                  (cdkDropListDropped)="drop($event, '1')"
                  [cdkDropListDisabled]="!anlassSummary()?.startet || !isBrevet2Anlass()"
                >
                  @for (wr of availableWertungsrichter2(); track wr.id ?? wr.benutzername) {
                    <lxt-wertungsrichter-chip
                      [isAllWertungsrichterList]="true"
                      [wertungsrichterUser]="wr"
                      [anlass]="anlass()"
                      [changeAllowed]="changeAllowed()"
                    >
                    </lxt-wertungsrichter-chip>
                  }
                </div>
              </div>
              <div class="layout-col">
                <div
                  cdkDropList
                  #assignedWr2List="cdkDropList"
                  [cdkDropListData]="assignedWr2s()"
                  [cdkDropListConnectedTo]="[allWr2sList]"
                  class="drag-drop-list layout-col"
                  (cdkDropListDropped)="drop($event, '2')"
                  [cdkDropListDisabled]="!anlassSummary()?.startet || !isBrevet2Anlass()"
                >
                  @for (wr of assignedWr2s(); track wr.id ?? wr.benutzername) {
                    <lxt-wertungsrichter-chip
                      [isAllWertungsrichterList]="false"
                      [wertungsrichterUser]="wr"
                      [anlass]="anlass()"
                      [changeAllowed]="changeAllowed()"
                      (wertungsrichterUserChange)="wertungsrichterUserChange()"
                    >
                    </lxt-wertungsrichter-chip>
                  }
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
    <div class="layout-row">
      <div class="layout-col">
        <div [routerLink]="['/user/user']" class="well hoverwell">Wertungsrichter bearbeiten</div>
      </div>
    </div>
  </div>
</div>
<!-- } @else {
  <div class="center">
    <mat-spinner style="margin: 0 auto"></mat-spinner>
  </div>
} -->
