@if (wertungsrichterSig()) {
  <div
    class="layout-container chip drag-drop-box"
    cdkDrag
    #tooltip="matTooltip"
    matTooltip="Ziehe (Drag & Drop) den Wertungsrichter rüber"
    matTooltipPosition="above"
    matTooltipHideDelay="100"
  >
    <div class="layout-row">
      <div class="layout-col-10">
        <span
          [ngClass]="{
            'h2-green': wertungsrichterSig()?.gueltig,
            'h2-red': !wertungsrichterSig()?.gueltig,
          }"
          >{{ wertungsrichterUser().vorname + ' ' + wertungsrichterUser().name }}</span
        >
      </div>
      <div class="layout-col-2">Brevet {{ wertungsrichterSig()?.brevet }}</div>
    </div>
    @if (!isAllWertungsrichterList() && wertungsrichterUser().pal) {
      <div class="layout-row">
        <div class="layout-col">Einsätze</div>
      </div>
    }
    @if (!isAllWertungsrichterList()) {
      <div class="layout-row">
        <div class="layout-col doubleRow">
          @for (slot of getSlotsForBrevet(); track slot.id) {
            <lxt-wertungsrichter-slot
              [slot]="slot"
              [wrAnlassLink]="wrAnlassLink"
              [wertungsrichter]="wertungsrichterUser()"
              [einsatz]="getEinsatzForSlot(slot)"
              [anlass]="anlass()"
              (wrEinsatzChange)="wrEinsatzChange($event)"
              [egalIsAktiv]="egalIsAktiv(slot)"
            >
            </lxt-wertungsrichter-slot>
          }
          @if (wertungsrichterUser().pal) {
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Kommentar</mat-label>
              <input
                matInput
                placeholder="Kommentar"
                [(ngModel)]="wertungsrichterUser().pal.kommentar"
                (change)="kommentarChange($event)"
                [disabled]="!changeAllowed()"
              />
              @if (wertungsrichterUser().pal.kommentar) {
                <button
                  [disabled]="!changeAllowed()"
                  matSuffix
                  mat-icon-button
                  aria-label="leeren"
                  (click)="wertungsrichterUser().pal.kommentar = ''"
                >
                  <mat-icon>close</mat-icon>
                </button>
              }
            </mat-form-field>
          }
        </div>
      </div>
    }
  </div>
} @else {
  <div class="center">
    <mat-spinner style="margin: 0 auto"></mat-spinner>
  </div>
}
