<div *ngIf="anlassSummary">
  Anlass Statistik
  <div class="row">
    <div class="col-12">
      <mat-checkbox
        [(ngModel)]="startet"
        [disabled]="isStartedCheckboxDisabled()"
        (ngModelChange)="vereinStartedClicked($event)"
        >Verein startet</mat-checkbox
      >
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      Teilnehmer Total:
      {{ anlassSummary.startendeBr1 + anlassSummary.startendeBr2 }} /
      {{ anlassSummary.startendeK2 }}
    </div>
    <div class="col-3">Teilnehmer K1-K4: {{ anlassSummary.startendeBr1 }}</div>
    <div class="col-3">Teilnehmer K5-K7: {{ anlassSummary.startendeBr2 }}</div>
  </div>
  <div class="row">
    <div *ngIf="isBrevet1Anlass()" class="col-1">Anzahl</div>
    <div *ngIf="isBrevet1Anlass()" class="col-1">Anzahl</div>
    <div *ngIf="isBrevet1Anlass()" class="col-1">Anzahl</div>
    <div *ngIf="isBrevet1Anlass()" class="col-1">Anzahl</div>
    <div *ngIf="isBrevet2Anlass() && isTuAnlass()" class="col-1">Anzahl</div>
    <div *ngIf="isBrevet2Anlass() && isTiAnlass()" class="col-1">Anzahl</div>
    <div *ngIf="isBrevet2Anlass() && isTiAnlass()" class="col-1">Anzahl</div>
    <div *ngIf="isBrevet2Anlass()" class="col-1">Anzahl</div>
    <div *ngIf="isBrevet2Anlass() && isTuAnlass()" class="col-1">Anzahl</div>
    <div *ngIf="isBrevet2Anlass() && isTiAnlass()" class="col-1">Anzahl</div>
    <div *ngIf="isBrevet2Anlass()" class="col-1">Anzahl</div>
  </div>
  <div class="row">
    <div *ngIf="isBrevet1Anlass()" class="col-1">
      K1: {{ anlassSummary.startendeK1 }}
    </div>
    <div *ngIf="isBrevet1Anlass()" class="col-1">
      K2: {{ anlassSummary.startendeK2 }}
    </div>
    <div *ngIf="isBrevet1Anlass()" class="col-1">
      K3: {{ anlassSummary.startendeK3 }}
    </div>
    <div *ngIf="isBrevet1Anlass()" class="col-1">
      K4: {{ anlassSummary.startendeK4 }}
    </div>
    <div *ngIf="isBrevet2Anlass() && isTuAnlass()" class="col-1">
      K5: {{ anlassSummary.startendeK5 }}
    </div>
    <div *ngIf="isBrevet2Anlass() && isTiAnlass()" class="col-1">
      K5A: {{ anlassSummary.startendeK5A }}
    </div>
    <div *ngIf="isBrevet2Anlass() && isTiAnlass()" class="col-1">
      K5B: {{ anlassSummary.startendeK5B }}
    </div>
    <div *ngIf="isBrevet2Anlass()" class="col-1">
      K6: {{ anlassSummary.startendeK6 }}
    </div>
    <div *ngIf="isBrevet2Anlass() && isTuAnlass()" class="col-1">
      KH: {{ anlassSummary.startendeKH }}
    </div>
    <div *ngIf="isBrevet2Anlass() && isTiAnlass()" class="col-1">
      KD: {{ anlassSummary.startendeKD }}
    </div>
    <div *ngIf="isBrevet2Anlass()" class="col-1">
      K7: {{ anlassSummary.startendeK7 }}
    </div>
  </div>
</div>
