<!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse show" id="navbarCollapse">
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a
          [routerLink]="['/anlass']"
          class="nav-link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Alle Anlässe<span class="sr-only">(current)</span></a
        >
      </li>
      <!--li class="nav-item">
        <a
          [routerLink]="['/anlass/new']"
          routerLinkActive="active"
          class="nav-link"
          >Anlass erstellen</a
        >
      </li-->
    </ul>
    <!--form class="nav navbar-nav form-inline" id="searchForm">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form-->
    <div class="navbar-header navbar-right">
      <ul class="nav navbar-nav">
        <li>
          <!--a *ngIf="!authService.isAuthenticated()" [routerLink]="['user/login']">Login</a-->
          <a
            *ngIf="
              authService.isAuthenticated() ||
              (authService.isAdministrator() && authService.currentVerein)
            "
            [routerLink]="['teilnehmer']"
            class="nav-link"
            >Teilnehmer</a
          >
        </li>
        <li>
          <a
            *ngIf="
              authService.isAuthenticated() ||
              (authService.isAdministrator() && authService.currentVerein)
            "
            [routerLink]="['user/user']"
            class="nav-link"
            >Benutzerdaten</a
          >
        </li>
        <li class="nav-item dropdown" *ngIf="authService.isAdministrator()">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Verein auswählen
          </a>

          <div
            *ngFor="let verein of getVereine()"
            class="dropdown-menu"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <a class="dropdown-item" (click)="setVerein(verein)">{{
              verein.name
            }}</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <a
    *ngIf="authService.currentVerein && authService.isAdministrator()"
    class="navbar-brand"
  >
    selektierter Verein <span>{{ authService.currentVerein.name }}</span>
  </a>
  <a
    *ngIf="!authService.currentVerein && authService.isAdministrator()"
    class="navbar-brand"
  >
    Kein Verein selektiert
  </a>
  <a class="navbar-brand">
    Ressort GETU
    <img brand src="assets/images/ZTV_Logo_CMYK_freigestellt.png" height="36" />
  </a>
</nav>
