.navbar-brand {
  font-size: 20px;
}
.nav.navbar-nav {
  font-size: 14px;
}

#searchForm {
  margin-right: 100px;
}

@media (max-width: 1200px) {
  #searchForm {
    display: none;
  }
}

li > a.active {
  color: #f97924;
}
