<div class="container-lg">
  <div class="row">
    <div class="col-11">
      <h2>{{ getCleaned() }}</h2>
    </div>
    <div class="col-sm-1">
      <h2>{{ anlass.tiTu }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <span *ngIf="anlass.startDatum === anlass.endDatum">am</span>
      <span *ngIf="anlass.startDatum !== anlass.endDatum">von</span>:
      {{ anlass.startDatum | date: "EEEE, d MMMM , yyyy" }}
    </div>
    <div class="col-sm-4" *ngIf="anlass.startDatum !== anlass.endDatum">
      bis: {{ anlass.endDatum | date: "EEEE, d MMMM , yyyy" }}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      Geschlecht: <span style="font-weight: 550"> {{ anlass.tiTu }}</span>
    </div>
    <div class="col-sm-4">
      Startberechtigt: {{ anlass.tiefsteKategorie }} bis
      {{ anlass.hoechsteKategorie }}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">Ort: {{ anlass.ort }}</div>
    <div class="col-sm-4">Halle: {{ anlass.halle }}</div>
    <div class="col-sm-4">Organisator: {{ anlass.organisator }}</div>
  </div>
  <!--  (click)="vereinStartedClicked($event)"        -->
  <div class="row">
    <div class="col-12">
      <mat-checkbox
        [(ngModel)]="vereinStarted"
        [disabled]="isStartedCheckboxDisabled()"
        (ngModelChange)="vereinStartedClicked($event)"
        >Verein started</mat-checkbox
      >
    </div>
  </div>
  <div class="row">
    <div class="col-3">Teilnehmer: {{ anzahlTeilnehmer }}</div>
    <div class="col-3">Teilnehmer K1-K4: {{ anzahlTeilnehmerBrevet1 }}</div>
    <div class="col-3">Teilnehmer K5-K7: {{ anzahlTeilnehmerBrevet2 }}</div>
  </div>
  <div class="row">
    <h3 class="padding">Wertungsrichter</h3>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-tab-group mat-align-tabs="start">
        <mat-tab>
          <ng-template matTabContent>
            <ng-template mat-tab-label
              >Brevet 1
              <img
                *ngIf="isWertungsrichter1Ok"
                class="icon"
                src="assets/images/skype/beaming-face.png"
              />
              <img
                *ngIf="!isWertungsrichter1Ok"
                class="icon"
                src="assets/images/skype/pouting-face.png"
              />
            </ng-template>
            <div class="row doubleRow">
              <div class="col">Status Brevet 1: {{ statusBr1 }}</div>
            </div>
            <div class="row doubleRow">
              <div class="col">
                Benötigte Wertungsrichter Brevet 1:
                {{ wertungsrichterPflichtBrevet1 }}
              </div>
            </div>
            <div class="row doubleRow">
              <div class="col">
                <h3>Verfügbare Wertungsrichter Brevet 1</h3>
              </div>
              <div class="col">
                <h3>Ausgewählte Wertungsrichter Brevet 1</h3>
              </div>
            </div>
            <div class="row doubleRow">
              <div class="col">
                <div
                  aria-label="Wertungsrichter"
                  class="drag-drop-list col"
                  cdkDropList
                  [cdkDropListDisabled]="true"
                  #allWr1sList="cdkDropList"
                  [cdkDropListData]="availableWertungsrichter1"
                  [cdkDropListConnectedTo]="[assignedWr1List]"
                  cdkDropListOrientation="vertical"
                  (cdkDropListDropped)="drop($event, '1')"
                >
                  <app-wertungsrichter-chip
                    *ngFor="let wr of availableWertungsrichter1"
                    [isAllWertungsrichterList]="true"
                    [wertungsrichterUser]="wr"
                    [anlass]="anlass"
                  ></app-wertungsrichter-chip>
                </div>
              </div>
              <div class="col">
                <div
                  cdkDropList
                  [cdkDropListDisabled]="true"
                  #assignedWr1List="cdkDropList"
                  [cdkDropListData]="assignedWr1s"
                  [cdkDropListConnectedTo]="[allWr1sList]"
                  class="drag-drop-list col"
                  (cdkDropListDropped)="drop($event, '2')"
                >
                  <app-wertungsrichter-chip
                    *ngFor="let wr of assignedWr1s"
                    [isAllWertungsrichterList]="false"
                    [wertungsrichterUser]="wr"
                    [anlass]="anlass"
                    (wertungsrichterUserChange)="
                      wertungsrichterUserChange($event)
                    "
                  ></app-wertungsrichter-chip>
                </div>
              </div>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label
            >Brevet 2
            <img
              *ngIf="isWertungsrichter2Ok"
              class="icon"
              src="assets/images/skype/beaming-face.png"
            />
            <img
              *ngIf="!isWertungsrichter2Ok"
              class="icon"
              src="assets/images/skype/pouting-face.png"
            />
          </ng-template>
          <div class="row doubleRow">
            <div class="col">Status Brevet 2: {{ statusBr2 }}</div>
          </div>
          <div class="row doubleRow">
            <div class="col">
              Benötigte Wertungsrichter Brevet 2:
              {{ wertungsrichterPflichtBrevet2 }}
            </div>
          </div>
          <div class="row doubleRow">
            <div class="col">
              <h3>Verfügbare Wertungsrichter Brevet 2</h3>
            </div>
            <div class="col">
              <h3>Ausgewählte Wertungsrichter Brevet 2</h3>
            </div>
          </div>
          <div class="row doubleRow">
            <div class="col">
              <div
                aria-label="Wertungsrichter"
                class="drag-drop-list col"
                cdkDropList
                #allWr2sList="cdkDropList"
                [cdkDropListData]="availableWertungsrichter2"
                [cdkDropListConnectedTo]="[assignedWr2List]"
                cdkDropListOrientation="vertical"
                (cdkDropListDropped)="drop($event, '1')"
                [cdkDropListDisabled]="isStartedCheckboxDisabled()"
              >
                <app-wertungsrichter-chip
                  *ngFor="let wr of availableWertungsrichter2"
                  [isAllWertungsrichterList]="true"
                  [wertungsrichterUser]="wr"
                  [anlass]="anlass"
                >
                </app-wertungsrichter-chip>
              </div>
            </div>
            <div class="col">
              <div
                cdkDropList
                #assignedWr2List="cdkDropList"
                [cdkDropListData]="assignedWr2s"
                [cdkDropListConnectedTo]="[allWr2sList]"
                class="drag-drop-list col"
                (cdkDropListDropped)="drop($event, '2')"
                [cdkDropListDisabled]="isStartedCheckboxDisabled()"
              >
                <app-wertungsrichter-chip
                  *ngFor="let wr of assignedWr2s"
                  [isAllWertungsrichterList]="false"
                  [wertungsrichterUser]="wr"
                  [anlass]="anlass"
                  (wertungsrichterUserChange)="
                    wertungsrichterUserChange($event)
                  "
                >
                </app-wertungsrichter-chip>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div [routerLink]="['/user/user']" class="well hoverwell thumbnail">
        Wertungsrichter bearbeiten
      </div>
    </div>
  </div>
  <app-events-dates [anlass]="anlass"></app-events-dates>
</div>
