@if ((anlass$ | async) && (anlassSummary$ | async)) {
  <div class="layout-container">
    <div class="layout-row">
      <div class="layout-col-7">
        <h2>{{ anlass.getCleaned() }}</h2>
      </div>
      <div class="layout-col-sm-1">
        <h2>{{ anlass.tiTu }}</h2>
      </div>
      <div class="layout-col-sm-2">
        <div [routerLink]="['anmeldung']" class="well hoverwell button">Anmeldungs Übersicht</div>
      </div>
      <div class="layout-col-sm-2">
        <div [routerLink]="['startliste']" class="well hoverwell button">Startliste</div>
      </div>
    </div>
    <lxt-anlass-detail [anlass]="anlass"></lxt-anlass-detail>

    <hr />
    <lxt-anlass-statistik
      [anlass]="anlass"
      [anlassSummary]="anlassSummary"
      (startetChanged)="startetChanged($event)"
    ></lxt-anlass-statistik>

    @if (anlassSummary.startet) {
      <lxt-wertungsrichter-selektion
        [anlass]="anlass"
        [anlassSummary]="anlassSummary"
        [changeAllowed]="isChangeAllowed()"
      ></lxt-wertungsrichter-selektion>
    }

    <lxt-events-dates
      [anlass]="anlass"
      [anlassSummary]="anlassSummary"
      [viewOnly]="isViewOnly()"
      (verlaengertChanged)="verlaengertChanged($event)"
    ></lxt-events-dates>
  </div>
} @else {
  <div class="center">
    <mat-spinner style="margin: 0 auto"></mat-spinner>
  </div>
}
