<div class="layout-row">
  <div class="layout-col-sm-3">
    @if (anlass.startDatum === anlass.endDatum) {
      <span>am</span>
    }
    @if (anlass.startDatum !== anlass.endDatum) {
      <span>von</span>
    }
    :
    {{ anlass.startDatum | date: 'EEEE, d MMMM , yyyy' : 'GMT+1' : 'DE-CH' }}
  </div>
  @if (anlass.startDatum !== anlass.endDatum) {
    <div class="layout-col-sm-3">
      bis:
      {{ anlass.endDatum | date: 'EEEE, d MMMM , yyyy' : 'GMT+1' : 'DE-CH' }}
    </div>
  }
</div>

<div class="layout-row">
  <div class="layout-col-sm-3">
    Geschlecht: <span style="font-weight: 550"> {{ anlass.tiTu }}</span>
  </div>
  <div class="layout-col-sm-3">
    Startberechtigt: {{ anlass.tiefsteKategorie }} bis
    {{ anlass.hoechsteKategorie }}
  </div>
</div>

<div class="layout-row">
  <div class="layout-col-sm-3">Ort: {{ anlass.ort }}</div>
  <div class="layout-col-sm-3">Halle: {{ anlass.halle }}</div>
  <div class="layout-col-sm-3">Organisator: {{ organisator?.name }}</div>
  <div class="layout-col-sm-3">IBAN: {{ anlass.iban }}</div>
</div>
