<div class="container-fluid">
  <!--form [formGroup]="form"-->
  <div class="row">
    <div class="col-6">
      <app-user
      [readOnly]="!(isOwner() || isVereinsAnmelder || isVereinsVerantwortlicher)"
        [(user)]="user"
        [showPassword]="isOwner()"
        [showBenutzername]="true"
      ></app-user>
    </div>
    <div class="col-6">
      <app-role [currentUser]="user" [isVereinsAnmelder]="isVereinsAnmelder" [isVereinsVerantwortlicher]="isVereinsVerantwortlicher" [(assignedRoles)]="assignedRoles"> </app-role>
      <app-wertungsrichter *ngIf="isWertungsrichter()" [currentUser]="user" [(wertungsrichter)]="wertungsrichter" [isVereinsAnmelder]="isVereinsAnmelder" [isVereinsVerantwortlicher]="isVereinsVerantwortlicher"> </app-wertungsrichter>
    </div>
  </div>
  <button mat-button (click)="cancel()">Abbrechen</button>

  <button mat-button type="submit" [disabled]="!userValid && !userChanged && !rolesChanged && !wrChanged" (click)="save()">
    Speichern
  </button>
  <!--/form-->
</div>
