<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <app-user
        [modify]="true"
        [readOnly]="
          !(isOwner() || isVereinsAnmelder || isVereinsVerantwortlicher)
        "
        [(user)]="user"
        [showPassword]="isOwner()"
        [showBenutzername]="true"
        (valid)="updateUserValid($event)"
      ></app-user>
    </div>
    <div class="col-6">
      <app-role
        [currentUser]="user"
        [isVereinsAnmelder]="isVereinsAnmelder"
        [isVereinsVerantwortlicher]="isVereinsVerantwortlicher"
        [(assignedRoles)]="assignedRoles"
      >
      </app-role>
      <app-wertungsrichter
        *ngIf="isWertungsrichter()"
        [currentUser]="user"
        [(wertungsrichter)]="wertungsrichter"
        [isVereinsAnmelder]="isVereinsAnmelder"
        [isVereinsVerantwortlicher]="isVereinsVerantwortlicher"
      >
      </app-wertungsrichter>
    </div>
  </div>
  <div class="row">
    <div class="col-9"></div>
    <div class="col-2">
      <button mat-button (click)="cancel()">Abbrechen</button>

      <button
        mat-button
        type="submit"
        [disabled]="isSaveDisabled()"
        (click)="save()"
      >
        Speichern
      </button>
    </div>
  </div>
</div>
