<h2 mat-dialog-title>Neuen Teilnehmer erstellen</h2>
<mat-dialog-content>
  <p>Teilnehmer</p>
  <div>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="data.name" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Vorname</mat-label>
      <input matInput [(ngModel)]="data.vorname" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Jahrgang</mat-label>
      <input matInput [(ngModel)]="data.jahrgang" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>STV Nummer</mat-label>
      <input matInput [(ngModel)]="data.stvNummer" />
    </mat-form-field>
  </div>
  <div></div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Abbrechen</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>
    Speichern
  </button>
</mat-dialog-actions>
