html,
body {
  height: 100%;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
.ztvAnlassHeaderLabel {
  width: 30px;
  transform: rotate(90deg);
  margin-top: 50px;
  display: inline-block;
}
.mat-fab {
  font-size: 12px;
  right: 15px;
  top: 90px;
  left: auto;
  position: absolute;
}

.mat-fab2 {
  right: 85px;
}

.mat-fab3 {
  right: 155px;
}
