<div class="layout-container-fluid toppadding">
  <div class="layout-row">
    <div class="layout-col-2">
      <lxt-anlass-status
        [anlass]="anlass"
        (lauflisteSelectedEvent)="lauflisteSelected($event)"
        [erfasstChangedEmitter]="erfasstChangedEmitter"
        [checkedChangedEmitter]="checkedChangedEmitter"
      ></lxt-anlass-status>
    </div>
    <div class="layout-col-10">
      <div class="layout-row">
        <!--             (keyup.enter)="searchLaufliste()" -->
        <mat-form-field appearance="fill">
          <mat-label>Lauflisten Schlüssel</mat-label>
          <input matInput type="text" [(ngModel)]="search" (keyup)="searchLaufliste()" />
          <button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search = ''" tabindex="-1">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button
          mat-icon-button
          color="primary"
          aria-label="Suche Laufliste"
          (click)="searchLaufliste()"
          [disabled]="!search"
          tabindex="-1"
        >
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <div class="layout-row">
        <div class="layout-col-2 side">
          <lxt-erfassen-header [laufliste]="laufliste"></lxt-erfassen-header>
        </div>
        <div *ngIf="laufliste" class="layout-col-10">
          <div class="layout-row blue">
            <div class="layout-col-1">Nr.</div>
            <div class="layout-col-2">Verein</div>
            <div class="layout-col-2">Name</div>
            <div class="layout-col-2">Vorname</div>
            <div *ngIf="!sprung && !modeErfassen" class="layout-col-2 centered">Note</div>
            <div *ngIf="!sprung && modeErfassen" class="layout-col-1 centered">Note</div>

            <div *ngIf="sprung" class="layout-col-1 centered">Note 1</div>
            <div *ngIf="sprung" class="layout-col-1 centered">Note 2</div>
            <div class="layout-col-1 centered">gespeichert</div>
            <div class="layout-col-1 centered">geprüft</div>
          </div>
          <lxt-erfassen-row
            *ngFor="let eintrag of sortedEintraege"
            [anlass]="anlass"
            [eintrag]="eintrag"
            [sprung]="sprung"
            [modeErfassen]="modeErfassen"
            (entryChangedEvent)="entryChanged($event)"
          ></lxt-erfassen-row>
        </div>
      </div>
    </div>
  </div>
</div>
