<div class="container-fluid">
  <div class="row">
    <h1>{{ title }}</h1>
  </div>
  <div class="row">
    <div class="col-2">
      <app-anlass-status
        [anlass]="anlass"
        (lauflisteSelectedEvent)="lauflisteSelected($event)"
        [erfasstChangedEmitter]="erfasstChangedEmitter"
        [checkedChangedEmitter]="checkedChangedEmitter"
      ></app-anlass-status>
    </div>
    <div class="col-10">
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Lauflisten Schlüssel</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="search"
            (keyup.enter)="searchLaufliste()"
          />
          <button
            *ngIf="search"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="search = ''"
            tabindex="-1"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button
          mat-icon-button
          color="primary"
          aria-label="Suche Laufliste"
          (click)="searchLaufliste()"
          [disabled]="!search"
          tabindex="-1"
        >
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <div class="row">
        <div class="col-2 side">
          <app-erfassen-header [laufliste]="laufliste"></app-erfassen-header>
        </div>
        <div *ngIf="laufliste" class="col-10">
          <div class="row blue">
            <div class="col-1">Nr.</div>
            <div class="col-2">Verein</div>
            <div class="col-2">Name</div>
            <div class="col-2">Vorname</div>
            <div *ngIf="!sprung && !modeErfassen" class="col-2 centered">
              Note
            </div>
            <div *ngIf="!sprung && modeErfassen" class="col-1 centered">
              Note
            </div>

            <div *ngIf="sprung" class="col-1 centered">Note 1</div>
            <!--div *ngIf="sprung && !modeErfassen" class="col-1 centered">
              Note 1
            </div-->
            <div *ngIf="sprung" class="col-1 centered">Note 2</div>
            <!--div *ngIf="sprung && !modeErfassen" class="col-1 centered">
              Note 2
            </div-->
            <div class="col-1 centered">gespeichert</div>
            <div class="col-1 centered">geprüft</div>
          </div>
          <app-erfassen-row
            *ngFor="let eintrag of sortedEintraege"
            [anlass]="anlass"
            [eintrag]="eintrag"
            [sprung]="sprung"
            [modeErfassen]="modeErfassen"
            (entryChangedEvent)="entryChanged($event)"
          ></app-erfassen-row>
        </div>
      </div>
    </div>
  </div>
</div>
