<div class="container-fluid" *ngIf="user$ | async; else loading">
  <div class="row">
    <div class="col-12">
      <h1 class="label">Vereinsadministration {{ verein.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-tab-group mat-align-tabs="start" #tabs>
        <mat-tab *ngFor="let user of vereinsUsers; index as i">
          <ng-template mat-tab-label>
            <span [ngClass]="{ unsafed: hasUnsafedWork(i) }">{{
              getTabName(user.benutzername, i)
            }}</span>
          </ng-template>
          <app-user-form
            [currentUser]="getUserCopy(user)"
            [tabIndex]="i"
            (userChange)="userChange($event)"
          ></app-user-form>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
<button
  mat-fab
  class="mat-fab-pos1"
  color="primary"
  #tooltip="matTooltip"
  matTooltip="Neuen Benutzer anlegen"
  matTooltipPosition="below"
  matTooltipHideDelay="500"
  (click)="addUser($event)"
>
  Neu
</button>
<button
  mat-fab
  class="mat-fab-pos2"
  color="primary"
  [disabled]="!hasChanges()"
  #tooltip="matTooltip"
  matTooltip="Änderungen speichern"
  matTooltipPosition="below"
  matTooltipHideDelay="500"
  (click)="saveUser($event)"
>
  Speichern
</button>
<ng-template #loading>Loading...</ng-template>
