<app-nav-bar></app-nav-bar>
<ng-container *ngIf="authenticated; else login">
  <router-outlet></router-outlet>
</ng-container>

<ng-template #login>
  <div *ngIf="dialogOpen && !appBlocked" class="overlay"></div>
  <div *ngIf="!dialogOpen && appBlocked" class="overlay">
    <h1 class="center">
      Das AnmeldeTool ist gesperrt !!! Im Moment findet ein Wettkampf statt.
      <div *ngIf="anlass && administrator" class="col-sm-4">
        <mat-checkbox
          [(ngModel)]="anlass.toolSperren"
          (ngModelChange)="toolSperrenClicked($event)"
          >Tool sperren
        </mat-checkbox>
      </div>
    </h1>
  </div>
</ng-template>
