<ng-container *ngIf="vereineLoaded | async; else loading">
  <ng-container *ngIf="authenticated; else login"> </ng-container>
</ng-container>

<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>
<ng-template #login>
  <div *ngIf="dialogOpen" class="overlay">
    <!--div [class]="getOverlayContentClass()">
      <app-login-dialog *ngIf="isShowLogin()" (showPage)="onShowPage($event)"></app-login-dialog>
      <app-new-anmelder *ngIf="isShowNewAnmelder()" (showPage)="onShowPage($event)"></app-new-anmelder>
      <app-new-verein *ngIf="isShowNewVerein()" (showPage)="onShowPage($event)"></app-new-verein>
    </div-->
  </div>
</ng-template>

<ng-template #loading>
  <div class="center">
    <mat-spinner style="margin: 0 auto"></mat-spinner>
  </div>
</ng-template>
