<div class="container-fluid">
  <div class="row">
    <h1>{{ anlass.getCleaned() }}</h1>
  </div>
  <div *ngFor="let entry of ranglistenEntries" class="row">
    <div class="col">
      {{ entry.rang }}
    </div>
    <div class="col">
      {{ entry.name }}
    </div>
    <div class="col">
      {{ entry.vorname }}
    </div>
    <div class="col">
      {{ entry.verein }}
    </div>
    <div class="col">
      {{ entry.jahrgang }}
    </div>
    <div class="col">
      {{ entry.noteReck }}
    </div>
    <div class="col">
      {{ entry.noteBoden }}
    </div>
    <div class="col">
      {{ entry.noteSchaukelringe }}
    </div>
    <div class="col">
      {{ entry.noteSprung1 }} /
      {{ entry.noteSprung2 }}
    </div>
    <div class="col">
      {{ entry.noteZaehlbar }}
    </div>
    <div class="col">
      {{ entry.noteBarren }}
    </div>
    <div class="col">
      {{ entry.auszeichnung }}
    </div>
  </div>
</div>
