<mat-toolbar class="ztv-toolbar-theme" id="main-menu">
  <div class="main-nav-container">
    @if (authService.isLoggedIn()) {
      <mat-nav-list class="list-horizontal">
        @if (!authService.isAnlassUser()) {
          <mat-list-item
            routerLink="/anlaesse"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            matRipple
          >
            <button mat-button class="mainNav" disableRipple>Alle Anlässe</button>
          </mat-list-item>
        }

        @if (authService.isAdministrator() || authService.isSekretariat()) {
          <mat-list-item class="task-add-btn" data-cy="admin-funcs-nav-btn">
            <button mat-button class="mainNav" disableRipple [matMenuTriggerFor]="menu">
              Anlässe Verwalten
              <mat-icon class="material-icons-outlined arrow-icon"> arrow_drop_down </mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              @for (anlass of eigeneAnlaesse; track anlass.id) {
                <div class="dropdown-item" data-cy="data-import-nav-btn">
                  <button
                    mat-button
                    class="mainNav small-text"
                    [routerLink]="['/admin', anlass.id, 'admin']"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    disableRipple
                  >
                    @if (getOrganisator(anlass) | async; as org) {
                      <div>{{ anlass.getCleaned() }} - {{ org.name }}</div>
                    }
                  </button>
                </div>
              }
            </mat-menu>
          </mat-list-item>
        }
        @if (!authService.isAnlassUser()) {
          <mat-list-item routerLink="/teilnehmer" routerLinkActive="active">
            <button mat-button class="mainNav" disableRipple>Teilnehmer</button>
          </mat-list-item>
        }

        @if ((authService.isAdministrator() || authService.isRechnungsbuero()) && authService.currentVerein) {
          <mat-list-item class="task-add-btn" data-cy="admin-funcs-nav-btn">
            <button mat-button class="mainNav" disableRipple [matMenuTriggerFor]="RBmenu">
              Rechnungsbüro
              <mat-icon class="material-icons-outlined arrow-icon"> arrow_drop_down </mat-icon>
            </button>
            <mat-menu #RBmenu="matMenu">
              @for (anlass of eigeneAnlaesse; track anlass.id) {
                <div class="dropdown-item" data-cy="data-import-nav-btn">
                  <button
                    mat-button
                    class="mainNav small-text"
                    [routerLink]="['/rechnungsbuero', anlass.id]"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    disableRipple
                  >
                    {{ anlass.getWithDatum() }}
                  </button>
                </div>
              }
            </mat-menu>
          </mat-list-item>
        }
        @if (authService.isAdministrator()) {
          <mat-list-item class="task-add-btn" data-cy="admin-funcs-nav-btn">
            <button mat-button class="mainNav" disableRipple [matMenuTriggerFor]="menu">
              Verein auswählen ({{ authService.currentVerein.name }})
              <mat-icon class="material-icons-outlined arrow-icon"> arrow_drop_down </mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              @for (verein of vereine; track verein.id) {
                <div class="dropdown-item" data-cy="data-import-nav-btn" (click)="setVerein(verein)">
                  {{ verein.name }}
                </div>
              }
            </mat-menu>
          </mat-list-item>
        }
      </mat-nav-list>
      <mat-nav-list class="list-horizontal">
        <mat-list-item
          routerLink="/user/user"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          matRipple
        >
          <button mat-button class="mainNav" disableRipple>Benutzerdaten</button>
        </mat-list-item>
      </mat-nav-list>
    }
  </div>
</mat-toolbar>
