<div class="container">
  <form [formGroup]="form">
    <h1 class="label">Neuen Verein beantragen</h1>
    <hr />
    <p>
      <mat-form-field [appearance]="appearance">
        <mat-label>Vereinsname</mat-label>
        <input
          matInput
          placeholder="Vereinsname"
          [formControl]="form.controls['vereinsNameControl']"
        />
        <!--mat-icon matSuffix>sentiment_very_satisfied</mat-icon-->
        <mat-error
          *ngIf="form.controls['vereinsNameControl'].hasError('required')"
        >
          Pflichtfeld
        </mat-error>
        <mat-hint
          >Gib den Vereinsnamen ein: z.Bsp. Getu ZTV oder TV ZTV</mat-hint
        >
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Turnverband</mat-label>
        <mat-select [formControl]="form.controls['verbandFormControl']">
          <mat-option value=""></mat-option>
          <mat-option
            *ngFor="let verband of verbaende"
            [value]="verband.id"
            title="{{ verband.verband_long }}"
          >
            {{ verband.verband }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="form.controls['verbandFormControl'].hasError('required')"
        >
          Pflichtfeld
        </mat-error>
        <mat-hint>Region oder Kantonalverband auswählen</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <span class="label">Vereinsverantwortliche/r</span>
    </p>
    <app-user
      [(user)]="verantwortlicher"
      (valid)="updateUserValid($event)"
      [showPassword]="true"
      [showBenutzername]="false"
      [mustShowPassword]="true"
    ></app-user>
    <mat-error *ngIf="error" class="error"> {{ errorMessage }}</mat-error>
    <button mat-button (click)="cancel()">Abbrechen</button>
    <button
      mat-button
      type="submit"
      [disabled]="!form.valid || !userValid"
      (click)="save()"
    >
      Speichern
    </button>
    <!--button mat-button
    (click)="save()"
    >Speichern</button-->
  </form>
</div>
